@import "globals";

.container {
  border-radius: 0.4rem;
  max-width: 23.4375rem;
  margin: 5rem auto;
  overflow: hidden;

  @media only screen and (min-width: 56.25rem) {
    display: flex;
    max-width: 65.5rem;
  }
}

.card {
  padding: 3rem 4rem;

  > * {
    margin-bottom: 2rem;
  }

  &__button {
    font-family: "Lexend Deca", sans-serif;
    background-color: $backgroundGrey;
    padding: 1rem 2rem;
    border: 0.2rem solid $backgroundGrey;
    border-radius: 2rem;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: bold;

    &--sedans {
      color: $orange;
    }
    &--suvs {
      color: $cyan;
    }
    &--luxury {
      color: $darkCyan;
    }

    &:hover {
      background-color: transparent;
      color: $backgroundGrey;
    }
  }

  &--sedans {
    background-color: $orange;
  }

  &--suvs {
    background-color: $cyan;
  }

  &--luxury {
    background-color: $darkCyan;
  }

  @media only screen and (min-width: 56.25rem) {
    &__description {
      margin-bottom: 5rem;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
